/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
  ========================================
  Custom styles
  ========================================
*/
body {
    font: 200 14px/24px Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;

}
/*
  ========================================
   Header
  ========================================
*/
header {
    background-color: #fdfdfc;
    text-align: center;
    border-bottom: 1px solid #e7e6e6;
    padding-top: 14px;
    height: 70px;
}
.my-picture {
    display: inline;
}
.title {
    display: inline-block;
    vertical-align: bottom;
    font-size: 30px;
    margin-left: 15px;
    font-weight: 600;
}
.my-picture img {
    height: 60px;
}
/*
  ========================================
   Sidebar
  ========================================
*/
.sidebar {
    background-color: #fdfdfd;
    width: 30%;
    min-width: 300px;
    max-width: 320px;
    display: inline-block;
    padding: 25px 30px 20px;
    border: 1px solid #e8e8ea;
    margin-top: 55px;
    margin-left: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 1px 1px rgba(237, 235, 232, 0.4);
}

ul.social-media {
    list-style: none;
    margin-left: 10px;
    padding-left: 20px;
}
.social-media li {
    border-bottom: 1px solid #b0afc0;
    padding: 10px;
    width: 200px;
}
.social-media li a {
    color: #4c4066;
    text-decoration: none;
    text-shadow: 1px 0px #ffffff;
    border-left: 7px solid #fdcc38;
    padding-left: 10px;
}
.social-media li a:hover {
    border-left-color: #a26cd2;
}
.sidebar strong {
    margin-left: 36px;
    color: #4c4066;
    font-size: 19px;
}
/*
  ========================================
   Main content
  ========================================
*/
#container{
    min-width: 600px;
}
.main {
    display: inline-block;
    width: 55%;
    margin-left: 70px;
    padding-top: 60px;
    vertical-align: top;
}
.highlight {
    color: #4c61a9;
}
blockquote {
    border: 1px solid #E7E6E6;
    padding: 20px 27px;
    border-radius: 6px;
    background-color: #FDFDFC;
    color: #4C4066;
    margin-top: 40px;
    margin-bottom: 40px;
}
.poem {
    font-style: italic;
    color: #4C4066;
}
.google-doodle {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 70px;
}
a {
    color: #7a3cb7;
}

a:hover {
    color: #a26cd2;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/*
  ========================================
   Footer
  ========================================
*/

footer {
    height: 60px;
    padding-top: 20px;
    padding-left: 30px;
    background-color: #1f1430;
    border-top: 1px solid #eeeeee;
    margin-top: 20px;
}

footer p {
    color: #b0afc0;
    font-size: 14px;
}

footer a {
    color: #b0afc0;
}